---
import Layout from '../layouts/Layout.astro';
---

<Layout titulo="Sobre mi">
	
    <section class="d-flex justify-content-center bg-transparent row mt-2">

        <div class="cajaImgAbout col-lg-3 mx-5 mb-5">
            <img src=/imgAbout.jpeg class="rounded">	
        </div>

        <div class="col-lg-6 mx-5 text-white">

            <div class="titulos">
                <h2>
                    <i class='bx bxs-hand'></i>
                    Hola soy <span>José</span>
                </h2>
                <h2>
                    <i class='bx bxs-data'></i>
                    Programador <span>Web</span>
                </h2>
            </div>

            <hr class="text-success mx-2">

            <div class="cajaParrafoAbout">
                <p>
                    Técnico Superior en Informática con dos años de experiencia en desarrollo de software,
                    apasionado por la tecnología y la innovación en el desarrollo 
                    de software. Deseo aplicar lo aprendido 
                    en mi carrera para generar soluciones a problemas 
                    de negocio y adquirir experiencia práctica en proyectos tecnológicos. 
                    Fuera de lo laboral, disfruto mucho hacer ejercicio regularmente, 
                    los videojuegos y el cuidado de mi mascota, lo que ha contribuido 
                    a mi enfoque integral de la vida y el trabajo, fomentando la disciplina 
                    y la perseverancia en todas mis actividades.
                </p>
            </div>

            <hr class="text-success mx-2">

            <div class="mx-2 my-3">

                <h3>
                    <span>
                        <i class='bx bxs-dashboard'></i>
                    </span>
                    Descarga mi <span>Currículum</span>
                </h3>

                <a class="btn btn-outline-success me-2" 
                    href="/JoséDanielMorianCV.pdf"
                    title="Descargar Curriculum"
                    target="_blank">
                    <i class='bx bx-cloud-download fs-2'></i>
                </a>

                <a class="btn btn-outline-success me-2" 
                    href="https://mail.google.com/mail/?view=cm&to=jdmorianperez@gmail.com"
                    title="Correo electrónico"
                    target="_blank">
                    <i class='bx bxl-gmail fs-2'></i>
                </a>

                <a class="btn btn-outline-success me-2" 
                    href="https://github.com/Tucusitox"
                    title="Github"
                    target="_blank">
                    <i class='bx bxl-github fs-2'></i>
                </a>

            </div>

        </div>

    </section>

</Layout>

<style>
    img{
        width: 400px;
        height: 70vh;
        overflow: hidden;
        box-shadow: 0 0 50px #07451e;
    }
    .titulos i {
        color: #077b32;
        text-shadow: 0 0 10px #077b32;
    }
    span {
        color: #077b32;
        text-shadow: 0 0 10px #077b32;
    }
    .cajaParrafoAbout p{
        margin: 0px 10px;
    }
    @media (max-width: 800px) {
        section{
            padding-bottom: 100px !important;
        }
        .cajaImgAbout{
            display: flex !important;
            justify-content: center !important;
        }
        
        img {
            width: auto !important;
            height: 400px !important;
        }
    }
</style>
