<header class="bg-transparent px-5">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand text-white fs-3"
        ><b>José <span>Morian</span></b><a></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="text-success fs-1">&#9776</span>
        </button>
      </a>

      <div class="container-fluid">
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNavAltMarkup"
        >
          <div class="navbar-nav fs-5">
            <a class="nav-link" href="/">Proyectos</a>
            <a class="nav-link" href="/skills">Habilidades</a>
            <a class="nav-link" href="#">Sobre mi</a>
            <a class="nav-link" href="#">Contactame</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<style>
  span {
    color: #077b32;
    text-shadow: 0 0 10px #077b32;
  }

  .nav-link {
    color: #ffff;
    position: relative;
  }
  .nav-link::after {
    content: "";
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: #077b32;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .nav-link:hover {
    color: #077b32;
    text-shadow: 0 0 10px #077b32;
  }
  .nav-link:hover::after {
    opacity: 1;
  }
  /* .navbar{
    animation: fade-dowm 1s;
  }
  @keyframes fade-dowm{
    from{
      opacity: 0;
      transform: translateY(-30px) scale(0.9);
    }
    to{
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
  } */
</style>
