<header class="bg-transparent px-5">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand text-white fs-3"><b>José <span>Morian</span></b></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="text-success fs-1">&#9776</span>
        </button>
      </a>

      <div class="container-fluid">
        <div class="nav-container collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="links navbar-nav nav-container fs-5">
            <a class="nav-link" href="/about">Sobre mi</a>
            <a class="nav-link" href="/">Proyectos</a>
            <a class="nav-link" href="/skills">Habilidades</a>
            <a class="nav-link" href="#">Contactame</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<style>
  
  span {
    color: #077b32;
    text-shadow: 0 0 10px #077b32;
  }

  .nav-container .links {
    display: flex;
  }
  .nav-container .links a {
    color: white;
    position: relative;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
  }
  .nav-container .links a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #077b32;
    text-shadow: 0 0 10px #077b32;
    transition: 0.2s linear;
  }
  .nav-container .links a:hover::before {
    width: 100%;
  }
  .nav-container .links a:hover {
    color: #077b32;
    text-shadow: 0 0 10px #077b32;
  }

</style>
